<!DOCTYPE html>
<html>
<head>
  <style>
    .error {
        color: red;
    }
  </style>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega@5"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega-lite@4.8.1"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega-embed@6"></script>
</head>
<body>
  <div id="vis"></div>

  <form action="javascript:refreshPlot()" id="start-form">
    <label>Start-date: </label>
    <input id="start" type="date" name="start-date" placeholder="yyyy-mm-dd" value="" min="2020-01-01" max="2022-01-01">
    <button type="submit">Refresh</button>
  </form>

  <form action="javascript:refreshPlot()" id="end-form">
    <label>End-date: </label>
    <input id="end" type="date" name="end-date" placeholder="yyyy-mm-dd" value="" min="2020-01-01" max="2022-01-01">
    <button type="submit">Refresh</button>
  </form>

  <form action="javascript:refreshPlot()" id="country-form">
    {% for country in countries %}
    <input type="checkbox" name="{{ country }}" value="{{ country }}" unchecked />
    <label for="{{ country }}">{{ country }}</label>
    <br />
    {% endfor %}
    <button type="submit">Refresh</button>
  </form>

  <script>
    async function refreshPlot() {
      // Create url for what is to be fetched
      var toFetch = "/plot_reported_cases_per_million.json"
      
      // Get selected checkboxes for countries
      var selected = [];
      for (checkbox of document.getElementById("country-form").querySelectorAll("input[type=checkbox]")) {
        if (checkbox.checked) {
          selected.push(checkbox.value);
        }
      }
      toFetch += "?countries=" + encodeURIComponent(selected.join(","));

      // Get selected start-date
      var start = document.getElementById("start").value
      if (start) {
        toFetch += "?start=" + encodeURIComponent(start);
      }

      // Get selected end-date
      var end = document.getElementById("end").value
      if (end) {
        toFetch += "?end=" + encodeURIComponent(end);
      }

      // Update the altair plot
      var response = await fetch(toFetch);
      var spec = await response.json();

      var embedOpt = {"mode": "vega-lite"};

      function showError(el, error){
          el.innerHTML = ('<div class="error" style="color:red;">'
                          + '<p>JavaScript Error: ' + error.message + '</p>'
                          + "<p>This usually means there's a typo in your chart specification. "
                          + "See the javascript console for the full traceback.</p>"
                          + '</div>');
          throw error;
      }
      const el = document.getElementById('vis');
      vegaEmbed("#vis", spec, embedOpt)
        .catch(error => showError(el, error));
    };
    // Refresh on page-load
    refreshPlot();
  </script>
</body>
</html> 